<div class="backdrop row">
  <div id="main" class="col-m-12"></div>
  <div id='overlay'></div>  
  <div id='modal'>
    <div id='modal-content'></div>
    <a href="#/" id='close'>CLOSE</a>
  </div>
</div>
