<div class="new-board">
  <h3>Create New Board</h3>
  <form class="create-board">
    <label>Title:
      <input type="text" name="board[title]" class="form-control">
    </label>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Create Board!">
  </form>
  <br>
  <a href="#/">Back to Boards Index</a>
</div>