.list, .new-list-form {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  width: 200px;
  text-align: center;
  border: 1px solid #CCC;
  background-color: #CCC;
  padding: 0px 10px;
  margin: 10px;
  border-radius: 5px;
  min-height: 100px;
}

.new-list-form {
  padding: 10px;
}

.new-card > input {
  width: 170px;
  margin: 3px auto;
}

.new-card {
  margin-top: -5px;
}

.new-list-form input[type=text] {
  margin-top: 5px;
}

.new-list-form input[type=submit] {
  margin-top: -5px;
}

.new-list-form label {
  font-size: 16px;
  padding-bottom: 3px;
}

.second-input {
  margin-top: 0;
}

.list-header {
  margin-top: 7px;
}

.delete-list, .create-card {
  width: 170px;
  height: 30px;
  line-height: 0px;
  margin: 3px 0;
}

.delete-list {
  margin-bottom: 8px;
}
