.list {
  float: left;
  width: 200px;
  text-align: center;
  border: 1px solid #CCC;
  background-color: #CCC;
  padding: 0px 10px;
  margin: 0 10px;
  border-radius: 5px;
  min-height: 100px;
}

.list-cards {
  list-style: none;
  padding-left: 0;
}