<h3><%= list.escape('title') %></h3>
<ul class="list-cards"></ul>
<button type='button' class='add-card btn btn-success'>Add Card</button><br>
<button type='button' class='delete-list btn btn-danger'>Delete List</button>