<h3 class="list-header"><%= list.escape('title') %></h3>
<ul class="list-cards"></ul>
<hr />
<form class="new-card">
  <label>New Card</label>
  <input type="text" 
         name="card[title]" 
         placeholder="Title"
         class="form-control">
  <input type="text" 
         name="card[description]" 
         placeholder="Description" 
         class="form-control second-input">
</form>

<button type='button' class='create-card btn btn-success'>Add Card</button><br>
<button type='button' class='delete-list btn btn-danger'>Delete List</button>