<form class="new-list">
  <label>Add a new list:<br>
    <input type="text" name="list[title]" value="" class="form-control">
  </label>
  <br>
  <input type="submit" value="Add List" class="btn form-control">
</form>