<form class="new-list">
  <label>Add a List<br>
    <input type="text" 
           name="list[title]" 
           placeholder="List title" 
           class="form-control">
  </label>
  <br>
  <input type="submit" 
         value="Create New List" 
         class="btn btn-danger form-control">
  
</form>